colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
imgviz==1.6.2
kiwisolver==1.4.4
labelme==5.1.1
matplotlib==3.6.2
natsort==8.2.0
numpy==1.23.5
Pillow==9.2.0
ply==3.11
PyQt5==5.15.7
python-dateutil==2.8.2
PyYAML==6.0
QtPy==2.3.0
six==1.16.0
termcolor==2.1.1
wincertstore==0.2
